*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.con{
    width: 966px;
    height: 110px;
}
.header{
    /*background: rgba(15, 178, 227, 0.25);*/
    margin: 0 auto;
}
.logo {
    display: block;
    float: left;
    margin: 15px;
    width: 172px;
    height: 40px;
    background-size: cover;
    background:  url(https://cloudcache.tencentcs.com/qcloud/portal/kit/images/slice/logo.f0c9ade4.svg) no-repeat center ;
}
.headerright{
    float: right;
}
.headerright ul{
    height: 44px;
    margin-top: 10px;
    line-height: 44px;
}
.headerright li{
    float: left;
}
.headerright li a{
    border-right: 1px solid #b2c7ea;
    padding: 0 13px;
    font-size: 13px;
    text-decoration:none;
    color: #3f3f40;
}
.headerright .last{
    padding-right: 0;
    border: 0;
}
.headerright li .active{
    color: #ff0025;
}
.search{
    float: right;
    height: 28px;
    width: 234px;
    border: 1px solid #d1d1d1;
}
.search input{
    border: 0;
    outline: none;
}
.search .left{
    width: 196px;
    float: left;
    height: 28px;
    padding-left: 14px;
}
.search .right{
    float: right;
    height:28px;
    width: 20px;
    background: url(../img/icon-search.svg) no-repeat center;
}
.nav{
    height: 53px;
    line-height: 53px;
    border-top: 1px solid #657588;
    background: #657588;
    color: white;
}
.nav .con{
    width: 966px;
    height: 110px;
    margin: 0 auto;
}
.nav li{
    float: left;
    font-size: 16px;
    margin-right: 76px;
}
.banner{
    height: 328px;
    width: 996px;
    background: url("../img/banner1.png") no-repeat center;
    margin: 0 auto;
    margin-top: 10px;
}
.list{
    height: 180px;
    width: 996px;
    /*background: #657588;*/
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 35px;
}
.item{
    height: 120px;
    width: 237px;
    border:1px solid #cccccc;
    float: left;
    margin-right: 70px;
}
.item p{
    height: 21px;
    line-height: 21px;
    /*padding-left: 28px;*/
    text-align: center;
    font-size: 16px;
    color: #000;
}
.item img{
    display: block;
}
.itemlast{
    margin-right: 0;
}
.footer{
    height: 206px;
    /*background: #657588;*/
    border-top: 1px solid #cccccc;
}
.footer .foot{
    width: 966px;
    margin: 0 auto;
    /*background: #ffa4b2;*/
}
.footer ul{
    height: 84px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #cccccc;
    line-height: 28px;
}
.footer ul li{
    width: 210px;
    padding-left: 30px;
    font-size: 17px;
    color: #3f3f40;
    float: left;
}
.footer ul li a{
    text-decoration: none;
    color: #3f3f40;
}
.slide{
    margin: 0 auto;
    height: 61px;
    line-height: 61px;
    padding-left: 30px;
}